@import './variables.scss';

.menu-container {
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	overflow: hidden;
	position: relative;
	background: $second-color;
}

.menu {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
	padding: 10px 25px;
	position: absolute;
	flex-direction: column;
	background: $second-color;

	&--logo {
		width: 40px;
		height: 40px;
		cursor: pointer;
		margin-bottom: 15px;
		background: url(./images/logo.png) no-repeat;
		background-position: center;
		background-size: cover;
	}

	&--close {
		top: 15px;
		right: 25px;
		font-size: 300%;
		cursor: pointer;
		position: absolute;
		color: $third-color;
		margin-bottom: 15px;
	}

	&--info {
		&--text {
			color: $gray;
			font-size: 160%;
			margin-bottom: 15px;
			letter-spacing: 0.3px;

			span {
				color: $black;
				margin-left: 4px;
				font-family: 'latobold', sans-serif;
			}
		}

		&--logout {
			color: $red;
			cursor: pointer;
			font-size: 180%;
			letter-spacing: -0.2px;
			text-decoration: underline;
		}
	}

	&--links {
		padding: 0;
		margin: 40px 0;
		list-style: none;

		li {
			margin: 0;
			cursor: pointer;
			padding: 15px 0;
			font-size: 180%;
			color: $first-color;
			letter-spacing: 0.3px;
		}
	}
}

.header {
	width: 100%;
	height: 55px;
	color: $white;
	padding: 15px;
	display: flex;
	position: relative;
	align-items: center;
	text-transform: uppercase;
	justify-content: space-between;
	background-color: $first-color;
	border-bottom: 1px solid rgba($black, 0.5);

	&--logo {
		width: 40px;
		height: 40px;
		cursor: pointer;
		background: url(./images/logo.png) no-repeat;
		background-position: center;
		background-size: cover;
	}

	&--title {
		margin: 0;
		font-size: 180%;
		letter-spacing: 0.5px;
	}

	&--menu {
		cursor: pointer;
		font-size: 300%;
		margin-left: 15px;
	}
}

.item {
	z-index: 5;
	width: 100%;
	display: flex;
	padding: 15px;
	margin: 7.5px 0;
	max-width: 500px;
	position: relative;
	border-radius: 2px;
	transition: all 1s;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	border: 1px solid $first-color;
	background-color: $second-color;

	@media only screen and (max-width: 500px) {
		border: none;
		border-radius: 0;
		border-top: 1px solid $first-color;
		border-bottom: 1px solid $first-color;
	}

	&:first-of-type {
		margin-top: 15px;
	}

	&:last-of-type {
		margin-bottom: 15px;
	}

	&:nth-child(even) {
		background-color: rgba($third-color, 0.15);
	}

	&--icon {
		top: 15px;
		z-index: 10;
		cursor: pointer;
		font-size: 160%;
		position: absolute;
	}

	&--arrow {
		z-index: 10;
		right: 23px;
		bottom: 15px;
		color: $white;
		cursor: pointer;
		font-size: 160%;
		position: absolute;
		border-radius: 2px;
		background-color: $first-color;
	}

	&--edit {
		color: $blue;
		right: 32.5px;
	}

	&--delete {
		color: $red;
		right: 12.5px;
	}

	&--save {
		color: $blue;
		right: 32.5px;
	}

	&--close {
		color: $red;
		right: 12.5px;
	}

	h2 {
		display: flex;
		font-size: 160%;
		max-width: 87.5%;
		color: $first-color;
		margin-bottom: 15px;
		align-items: center;
		text-transform: capitalize;
		font-family: 'latobold', sans-serif;

		input {
			color: $orange;
			margin: 0 10px 0 3px;
			text-decoration: underline;
			background-color: transparent;
			font-family: 'latoregular', sans-serif;
		}

		span {
			margin: 0 10px 0 3px;
			font-family: 'latoregular', sans-serif;
		}
	}

	p {
		color: $onix;
		display: flex;
		font-size: 140%;
		max-width: 87.5%;
		align-items: center;
		margin-bottom: 7.5px;
		text-transform: capitalize;
		font-family: 'latobold', sans-serif;

		&:last-of-type {
			margin: 0;
		}

		input {
			color: $orange;
			margin: 0 10px 0 3px;
			text-decoration: underline;
			background-color: transparent;
			font-family: 'latoregular', sans-serif;
		}

		span {
			margin: 0 10px 0 3px;
			font-family: 'latoregular', sans-serif;
		}
	}
}

.footer {
	width: 100%;
	z-index: 100;
	padding: 15px;
	color: $white;
	height: 215px;
	display: flex;
	flex-direction: column;
	background-color: $first-color;
	border-top: 1px solid rgba($black, 0.5);

	&--logo {
		width: 40px;
		height: 40px;
		cursor: pointer;
		background: url(./images/logo.png) no-repeat;
		background-position: center;
		background-size: cover;
	}

	&--links {
		padding: 0;
		margin: 20px 0;
		list-style: none;

		li {
			margin: 0;
			cursor: pointer;
			padding: 15px 0;
			font-size: 180%;
			letter-spacing: 0.3px;
			text-decoration: underline;
		}
	}
}

@-webkit-keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}
	60% {
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px);
	}
}

@-moz-keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-20px);
	}
	60% {
		transform: translateX(-10px);
	}
}

@keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-ms-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	60% {
		-ms-transform: translateX(-10px);
		transform: translateX(-10px);
	}
}

.animated-arrow-right {
	-webkit-animation: bounceRight 1.5s infinite;
	animation: bounceRight 1.5s infinite;
	float: right;
}
