@import './variables.scss';

.login {
	width: 100%;
	padding: 10px;
	display: flex;
	min-height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	background: url(./images/background.jpg) no-repeat;
	background-position: center;
	background-size: cover;

	&--header {
		width: 100%;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;

		&--logo {
			width: 40px;
			height: 40px;
			background: url(./images/logo.png) no-repeat;
			background-position: center;
			background-size: contain;
		}

		&--title {
			margin: 5px 0;
			font-size: 180%;
			letter-spacing: 1.15px;
			text-transform: uppercase;
			font-family: 'latobold', sans-serif;
		}
	}

	&--content {
		width: 90%;
		max-width: 425px;
		border-radius: 2px;
		padding: 15px 25px 25px 25px;
		background-color: rgba(255, 255, 255, 0.8);

		@media only screen and (min-width: 450px) {
			width: 400px;
		}

		&--form {
			width: 100%;
			z-index: 10;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			margin: 30px auto 0 auto;

			&--input {
				width: 100%;
				height: 50px;
				border: none;
				color: $white;
				padding: 0 25px;
				font-size: 160%;
				border-radius: 2px;
				margin-bottom: 15px;
				letter-spacing: 1px;
				text-transform: uppercase;
				background-color: rgba($black, 0.5);
				font-family: 'latoregular', sans-serif;

				&::placeholder {
					color: $white;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					color: $white;
					opacity: 1;
				}

				&::-ms-input-placeholder {
					color: $white;
					opacity: 1;
				}

				&:hover,
				&:focus,
				&:active {
					color: $first-color;
					background: rgba($second-color, 0.75);
					border: 1px solid rgba($second-color, 0.75);

					&::placeholder {
						color: $first-color;
						opacity: 1;
					}

					&:-ms-input-placeholder {
						color: $first-color;
						opacity: 1;
					}

					&::-ms-input-placeholder {
						color: $first-color;
						opacity: 1;
					}
				}
			}

			&--button {
				width: 50%;
				border: none;
				height: 40px;
				color: $white;
				font-size: 160%;
				margin-top: 10px;
				border-radius: 2px;
				letter-spacing: 1px;
				text-transform: uppercase;
				border: 1px solid $first-color;
				background-color: $first-color;
				font-family: 'latoregular', sans-serif;

				&:hover,
				&:focus,
				&:active {
					color: $first-color;
					background-color: $second-color;
					border: 1px solid $first-color;
				}
			}
		}
	}
}

.home {
	padding: 0;
	width: 100%;
	color: $black;
	display: flex;
	position: relative;
	align-items: center;
	flex-flow: column wrap;
	background-color: $white;
	min-height: calc(100vh - 270px);

	li {
		list-style: none;
	}

	&--error {
		width: 100%;
		display: flex;
		padding: 15px;
		margin: 0 auto;
		max-width: 425px;
		align-items: center;
		flex-flow: column nowrap;
		height: calc(100vh - 270px);
		justify-content: flex-start;

		&--img {
			width: 40%;
			height: 65%;
			background: url(./images/error.png) no-repeat;
			background-size: contain;
			background-position: 100% 65%;
		}

		&--text {
			color: $red;
			font-size: 160%;
			text-align: center;
		}

		a {
			color: $blue;
			font-family: 'latobold', sans-serif;
		}
	}
}

.details {
	width: 100%;
	color: $black;
	display: flex;
	padding: 15px;
	position: relative;
	align-items: center;
	flex-flow: column wrap;
	background-color: $white;
	min-height: calc(100vh - 270px);

	&--card {
		margin: 0;
		width: 100%;
		display: flex;
		padding: 15px;
		height: 200px;
		max-width: 500px;
		position: relative;
		border-radius: 2px;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		border: 1px solid $first-color;
		background: rgb(34, 193, 195);
		background: linear-gradient(0deg, rgba(darkgreen, 0.3) 25%, rgba(goldenrod, 0.3) 75%);

		h2 {
			color: $gray;
			display: flex;
			font-size: 200%;
			margin-bottom: 15px;
			align-items: center;
			text-transform: capitalize;
			font-family: 'latobold', sans-serif;

			span {
				margin: 0 10px 0 3px;
			}
		}

		p {
			color: $onix;
			display: flex;
			font-size: 180%;
			align-items: center;
			margin-bottom: 7.5px;
			text-transform: capitalize;
			font-family: 'latobold', sans-serif;

			&:last-of-type {
				margin: 0;
			}

			span {
				margin: 0 10px 0 3px;
			}
		}
	}
}

.create {
	width: 100%;
	padding: 10px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	min-height: calc(100vh - 270px);
	background-image: linear-gradient(to right, rgba(darkgreen, 0.45), rgba(goldenrod, 0.45));

	&--header {
		width: 100%;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;

		&--logo {
			width: 40px;
			height: 40px;
			background: url(./images/logo.png) no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	&--content {
		width: 90%;
		max-width: 425px;
		border-radius: 2px;
		padding: 15px 25px 25px 25px;
		background-color: rgba(255, 255, 255, 0.8);

		@media only screen and (min-width: 450px) {
			width: 400px;
		}

		&--form {
			width: 100%;
			z-index: 10;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			margin: 30px auto 0 auto;

			&--input {
				width: 100%;
				height: 50px;
				border: none;
				color: $white;
				padding: 0 25px;
				font-size: 160%;
				border-radius: 2px;
				margin-bottom: 15px;
				letter-spacing: 1px;
				text-transform: uppercase;
				background-color: rgba($black, 0.5);
				font-family: 'latoregular', sans-serif;

				&::placeholder {
					color: $white;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					color: $white;
					opacity: 1;
				}

				&::-ms-input-placeholder {
					color: $white;
					opacity: 1;
				}

				&:hover,
				&:focus,
				&:active {
					color: $first-color;
					background: rgba($second-color, 0.75);
					border: 1px solid rgba($second-color, 0.75);

					&::placeholder {
						color: $first-color;
						opacity: 1;
					}

					&:-ms-input-placeholder {
						color: $first-color;
						opacity: 1;
					}

					&::-ms-input-placeholder {
						color: $first-color;
						opacity: 1;
					}
				}
			}

			&--button {
				width: 50%;
				border: none;
				height: 40px;
				color: $white;
				font-size: 160%;
				margin-top: 10px;
				border-radius: 2px;
				letter-spacing: 1px;
				text-transform: uppercase;
				border: 1px solid $first-color;
				background-color: $first-color;
				font-family: 'latoregular', sans-serif;

				&:hover,
				&:focus,
				&:active {
					color: $first-color;
					background-color: $second-color;
					border: 1px solid $first-color;
				}
			}
		}
	}
}
