$red: #dc143c;
$gray: #696969;
$blue: #1e90ff;
$green: #6b8e23;
$brown: #8b4513;
$white: #FFFFFF;
$black: #000000;
$yellow: #ffd700;
$orange: #ff8c00;

$first-color: #556B2F;
$second-color: #FFFFF0;
$third-color: 	rgb(153, 153, 153);