$red: #dc143c;
$onix: #5f5f5f;
$gray: #696969;
$blue: #1e90ff;
$green: #6b8e23;
$brown: #8b4513;
$white: #ffffff;
$black: #000000;
$yellow: #ffd700;
$orange: #ff8c00;

$first-color: #556b2f;
$second-color: #fffff0;
$third-color: rgb(153, 153, 153);
